@import "tailwindcss";

@theme {
  --color-jade: #22C55E;
  --color-jade-dark: #16a34a;
  --color-ebony: #0B1F1A;
  --color-ebony-light: #0F3D3E;
  --color-alabaster: #E6F4F1;
  --color-riptide: #6B7280;
  --color-test: #d3ede4;
  --color-test2: #add7b9;
  --color-test1: #E6F4F1;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 1rem);
  }
}
